@import '../Assets/Base.scss';

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;

    &__image {
        width: 60%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 181px 124px;

        &Element {
            width: 100%;
            height: 100%;
        }
    }

    &__form {
        flex-grow: 1;
        text-align: center;
        padding: 58px 140px;
        background-color: $light-blue;

        &__imageElement {
            margin-bottom: 150px;
        }
    }

    &__textElement {
        text-decoration: underline;
        color: $text-black;
    }

    &__buttonElement {
        margin-top: 45px;
        background-color: $medium-blue;
    }
}

/* Screen width more than 1200 */
@media screen and (min-width: 1000px) {
    .container__image {
        display: inline;
    }
}

/* Screen width less than 1200 */
@media screen and (max-width: 1000px) {
    .container__image {
        display: none;
    }
}