@import '../../../Assets/Base.scss';

.container {
    width: 100%;
    text-align: left;

    &__textParagraph--label {
        margin-bottom: 4px;
        color: $text-dark-blue;
    }

    &__inputs {
        display: flex;
        position: relative;
        align-items: center;

        &__imageElement {
            width: 24px;
            position: absolute;

            &--left {
                width: 24px;
                position: absolute;
                left: 0;
                margin-left: 16px;
            }

            &--right {
                width: 24px;
                position: absolute;
                right: 0;
                margin-right: 16px;  
            }

            &:hover {
                cursor: pointer;
            }
        }

        input {
            width: 100%;
            color: $text-gray;
            padding: 12px 16px;
            border-radius: 21px;
            border: 1px solid $extra-light-blue;

            &:focus {
                outline: none;
                border: 1px solid $medium-blue;
            }
        }
    }
    
    &__textParagraph {
        width: 100%;
        margin-bottom: 23px;

        &--error {
            margin-top: 4px;
            color: $pink;
        }
    }
}